@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.container {
  display: flex;
  height: 100%;
  flex-flow: column;
  /* border: 2px solid red; */
  align-items: space-between;
  justify-content: space-between;
}

.header ul,
.footer ul {
  list-style:none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 0rem;
  padding:0px;

}

.header a,
.footer a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer {
  /* border: 2px solid red; */
  background: #eee;
}

.content {
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  flex: 1 1 auto;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  padding: 5px 10px; 
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  flex: 1 1 auto;
}